.steps-conatiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.steps-conatiner > div{
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
}

.steps-conatiner > div.active{
    border-top-color: #f08000;
    color: #f08000;
}