*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: black;
}


header {
  background-color: #131A22;
  margin-bottom: 20px;
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 22px;
}

@media(max-width: 760px){
  header .inner-content{flex-direction: column !important;}
  .brand{margin-bottom: 30px;}
}

header a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}
