.orderhistory-container{
    margin: 20px;
}


.table{
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    background: rgb(238, 238, 238);
}

.table thead tr th{
    padding: 20px 0;
    border: 1px black solid;
}

.table tbody tr{
    text-align: center;
    padding: 14px;
    border: 1px solid grey;
}

.table tbody tr td{
    border: 1px solid grey;
}

.table tbody tr td:nth-child(1),
.table tbody tr td:nth-child(3) {
    font-weight: bold;
}

.table tbody tr:nth-of-type(odd){
    background-color: lightgray;
}

.order-details-btn{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color:  #f0c040;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
}

.order-details-btn > .MuiSvgIcon-root{
    font-size: 22px !important;
    color: rgb(36, 36, 36) ;
    font-size: 18px;
}

@media(max-width: 900px){
    .orderhistory-container{
        overflow-x: scroll;
    }
    .table{
        width: 1900px;
    }
}