.price-range-checkbox{
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 14px;
    font-size: 16px;
    margin-right: 8px;
    margin-top: 10px;
    white-space: nowrap;
    display: inline-block;
}

.price-range-checkbox label{
    margin-left: 6px;
}


@media(max-width: 900px){
    .price-range-container{
        display: flex;
        align-items: center;
        overflow-x: scroll;
    }

    .price-range-checkbox{
        margin-bottom: 16px;
        margin-right: 4px;
    }
}