.product-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

.sec-title{
    margin: 100px 40px 0 40px;
    border: 1px solid grey;
    padding: 20px;
    background-color: rgb(238, 238, 238);
}


@media(max-width: 900px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px){
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1280px){
    .product-container{
        grid-template-columns: repeat(5, 1fr);
    }
}