.home-product-container{
    max-width: 1600px;
    margin: 80px auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-container{
    margin: 60px 26px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.sec-title{
    margin: 26px;
    color: rgb(88, 88, 88);
}


@media(max-width: 900px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px){
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1280px){
    .product-container{
        grid-template-columns: repeat(5, 1fr);
    }
}