.home-product-container{
    max-width: 1600px;
    margin: 80px auto;
    background-color: rgb(235, 235, 235);
    padding: 20px;
}

.product-container{
    margin: 60px 26px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.sec-title{
    margin: 26px;
    color: rgb(88, 88, 88);
}

.sec-title span{
    text-transform: capitalize;
}


@media(max-width: 900px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .home-product-container{
        margin-top: 30px;
    }

    .sec-title{
        margin: 20px 0;
    }
}

@media(min-width: 900px){
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1280px){
    .product-container{
        grid-template-columns: repeat(5, 1fr);
    }
}