.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: white;
}

.product-image{
    width: 100%;
    height: 200px;
    overflow-y: hidden;
}

.product-image img{
    width: 100%;
}
.product-card h2{
    font-size: 26px;
    margin: 14px 0;
}
.product-card p{
    font-size: 22px;
    font-weight: 600;
    margin: 8px 0;
}


@media(max-width: 900px){
    .product-image{
        height: 120px;
    }

    .product-card{
        height: 280px;
    }
}