.rating-container{
    display: flex;
}

.rating{
    display: flex;
    align-items: center;
}

.rating > .MuiSvgIcon-root{
    font-size: 22px !important;
    color: rgb(255, 166, 0) ;
}

.rating-container span{
    margin-left: 14px !important;
    font-size: 18px !important;
    color: grey;
    font-weight: 400 !important;
}


@media(max-width: 900px){
    .rating-container{
        flex-direction: column;
    }
    .rating-container span{
        margin: 10px 0 !important;
    }
}