.user-dets-container{
    max-width: 600px;
    margin: auto;
    transform: translateY(30%);
}

.update-btn{
    background-color: #f0c040;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    outline: 0;
}

@media(max-width: 900px){
    .user-dets-container{
        transform: translateY(16%);
    }
}

